In [71]:
#TASK 1.2
n=2000
l=[]
while n<=3200:
    if n%7==0 and n%5!=0:
        l.append(n)
    n=n+1
    
print(l)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [72]:
#TASK 1.3
first_name=input("enter first name : ")
last_name=input("ente last name : ")

rev_firstname=first_name[::-1]
rev_lastname=last_name[::-1]

print("full name :",first_name,last_name)

print("reversed : ",rev_firstname,rev_lastname)

enter first name : devang
ente last name : agrawal
full name : devang  agrawal
reversed :   gnaved lawarga

In [73]:
#TASK 1.4
d=12
v=4/3*3.14*(d/2)**3

print("volume of sphere is :",v)

volume of sphere is : 904.3199999999999

In [74]:
#TASK 2.1
ip=input("enter numbers : ")
l1=ip.split(',')
l2=[]
for i in l1:
    l2.append(int(i))

    
print(l1)
print(l2)

enter numbers : 4,5,6,7,12,11
['4', '5', '6', '7', '12', '11']
[4, 5, 6, 7, 12, 11]

In [75]:
#TASK 2.3
word=input("enter the string : ")
print("input word :",word)

rev=word[::-1]
print("rev. word : ",rev)

enter the string : AcadGlid
input word : AcadGlid
rev. word :  dilGdacA

In [7]:
#TASK2.2
for i in range(1,6):
    for j in range(i):
        print('*',end='')
    print()
for i in range(4):
    for j in range(4-i):
        print('*',end='')
    print()

*
**
***
****
*****
****
***
**
*

In [4]:
#TASK2.4
print("WE,THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,!\n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\t and to secure all its citizens")

WE,THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure all its citizens